@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
@import url("https://fonts.cdnfonts.com/css/interface-trial");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root.dark {
  --premary: #5955b3;
  --dGray100: #111;
  --dGray200: #222;
}
:root.light {
  --premary: #5955b3;
  --wGray100: #f1f1f1;
  --wGray200: #eee;
}

.pdf > *::-webkit-scrollbar {
  width: 6px;
}
.pdf > *::-webkit-scrollbar-thumb {
  background-color: #888888;
  border-radius: 0.6rem;
}
.pdf > *::-webkit-scrollbar-track {
  background-color: transparent;
}

body {
  font-family: "InterFace Trial", sans-serif;
  /* font-family: "SF Pro Display", sans-serif !important; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html[lang="ar"] {
  direction: rtl;
}

.mark::before {
  content: "";
  z-index: -1;
  width: calc(100% + 0.5rem);
  height: 0.7rem;
  background-color: yellow;
  position: absolute;
  left: -0.25rem;
  bottom: 0.4rem;
}

.hero-image > div {
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url("/hero.png");
}

@media (max-width: 768px) {
  .hero-image > div {
    background-image: url("/hero-mobile.png");
  }
}
