@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root.dark {
  --premary: #a855f7;
  --dGray100: #111;
  --dGray200: #222;
}
:root.light {
  --premary: #a855f7;
  --wGray100: #f1f1f1;
  --wGray200: #eee;
}

.pdf > *::-webkit-scrollbar {
  width: 6px;
}
.pdf > *::-webkit-scrollbar-thumb {
  background-color: #888888;
  border-radius: 0.6rem;
}
.pdf > *::-webkit-scrollbar-track {
  background-color: transparent;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
html[lang="ar"] {
  direction: rtl;
}
body {
  /* font-family: "SF Pro Display", sans-serif !important; */
}

input:focus,
textarea:focus,
input:focus-visible,
textarea:focus-visible,
input:active {
  outline: solid 1px transparent;
}
